<div class="row container-tickets">
    <ng-container *ngIf="role === 'ADMIN'">
        <app-counter-total [totalTickets]="totalTicketsNumber"></app-counter-total>
    </ng-container>
    <ng-container *ngIf="role !== 'RECEPTIONIST'">
        <app-filter-bar (triggerTab)="receiveTabChoosed($event)"></app-filter-bar>
    </ng-container>
    <div class="col-sm-12 mt-1 d-inline-flex justify-content-between align-items-center">
        <p class="total-specific-tickets">Biglietti: {{tickets && tickets.length ? tickets.length : 0}}</p>
        <div>
            <input 
            class="field-input" 
            (keydown.enter)="filterArray()" 
            placeholder="Campo preciso richiesto"
            type="text"
            [(ngModel)]="textValue"
            name="search" 
            id="search">
            <img src="../../../assets/icons/search.svg" alt="search">
        </div>
    </div>
    <ng-container *ngIf="tickets && tickets.length > 0; else noTickets">
        <div class="wrapper-tickets">
            <div *ngFor="let ticket of tickets" class="col-sm-12">
                <app-ticket [ticket]="ticket" (isReceptionist)="takeEvent($event)"></app-ticket>
            </div>
        </div>
    </ng-container>
    <ng-template #noTickets>
        <p class="label-no-tickets">Nessun biglietto disponibile</p>
    </ng-template>
</div>