@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.container-tickets {
    font-family: "Social Gothic", Arial, Helvetica, sans-serif;

    .total-specific-tickets {
        text-align: center;
        font-weight: bold;
        font-size: toRem(20);
        margin-top: 1rem;
    }

    .wrapper-tickets {
        max-height: calc(100vh - 376px);
        overflow-y: scroll;
    }

    .label-no-tickets {
        font-size: toRem(16);
        margin-top: toRem(40);
        text-align: center;
    }

    .field-input {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        height: 100%;
        padding: 16px;
        margin-right: 8px;
        border-radius: 8px;
        border: 1px solid transparent;    
    }

    .position-elements {
        padding: toRem(16);
    }

    .btn-search {
        background-color: $color-secondary;
        border-radius: 50%;
        padding: 8px;
        &:active {
            background-color: $color-complete;
        }
    }
}