@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.custom-btn {
    font-size: toRem(14);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 100%;
    max-width: 300px;
    padding: toRem(16) toRem(64);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.disabled {
    background-color: $color-disabled;
    border: 1px solid $color-disabled;
}

.primary {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-accent;
    &:disabled {
        @extend .disabled;
    }
}

.big-primary {
    padding: toRem(24) toRem(80);
    font-size: toRem(16);
    @extend .primary;
}

.secondary {
    background-color: $color-secondary;
    border: 1px solid $color-secondary;
    color: $color-accent;
    font-size: toRem(16);
    &:disabled {
        @extend .disabled;
    }
}