<div class="row filter-bar">
    <div (click)="switchTab('PAID')" class="col-4">
        <div id="tabPay" class="spacing">
            <p class="tab">PAGATI</p>
        </div>
    </div>
    <div (click)="switchTab('NOTPAID')" class="col-4">
        <div id="tabNotPay" class="spacing bg-violet">
            <p class="tab">NON PAGATI</p>
        </div>
    </div>
    <div (click)="switchTab('GIFT')" class="spacing" class="col-4">
        <div id="tabFree" class="spacing">
            <p class="tab">OMAGGIO</p>
        </div>
    </div>
</div>