<router-outlet></router-outlet>
<ng-container *ngIf="role === 'ADMIN'; else noAdmin">
    <app-counter-total 
        [gift]="totalGift" 
        [numDanceFloor]="totalDanceFloor" 
        [numPrive]="totalPrive" 
        [numNotPaid]="totalNotPaid"
        [totalTickets]="totalTickets">
    </app-counter-total>
</ng-container>
<ng-template #noAdmin>
    <app-counter-total [totalTickets]="totalTickets" [updateTotalForReceptionist]="sendNumberToReceptionist"></app-counter-total>
</ng-template>
<app-btn-ticket></app-btn-ticket>
<div *ngIf="role === 'ADMIN'; else ticketsNoAdmin">
    <app-list-pr [listPR]="listPR"></app-list-pr>
</div>
<ng-template #ticketsNoAdmin>
    <!-- sendTotalForReceptionist -->
    <app-list-tickets [tickets]="tickets"></app-list-tickets>
</ng-template>
