<div class="container-fluid">
    <p class="title">I TUOI PR</p>
    <div class="row wrapper-list">
        <div *ngFor="let pr of listPR" class="col-sm-12 d-inline-flex justify-content-center mb-4 ">
            <div (click)="goToPR(pr.id)" class="row w-100 box">
                <div class="col-6">
                    <p class="label set-color-primary">Nome:</p>
                    <p class="label mt-3 set-color-primary">Cognome:</p>
                </div>
                <div class="col-6">
                    <p class="label">{{ pr.name }}</p>
                    <p class="label mt-3">{{ pr.surname }}</p>
                </div>
            </div>
        </div>
    </div>
</div>