@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.container-tickets {
    
    font-family: "Social Gothic", Arial, Helvetica, sans-serif;

    .total-specific-tickets {
        text-align: center;
        font-weight: bold;
        font-size: toRem(20);
        margin-top: 1rem;
    }

    .wrapper-tickets {
        max-height: calc(100vh - 200px);
        overflow-y: scroll;
    }

    .label-no-tickets {
        font-size: toRem(16);
        margin-top: toRem(40);
        text-align: center;
    }

    .field-input {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        height: 100%;
        padding: 8px;
        margin-right: 8px;
    }
}