<div class="row m-0 container-tickets">
    <app-filter-bar (triggerTab)="receiveTabChoosed($event)"></app-filter-bar>
    <div class="col-sm-12 mt-1 d-inline-flex justify-content-between align-items-center">
        <p class="total-specific-tickets">Biglietti: {{tickets.length}}</p>
        <div>
            <input 
            class="field-input" 
            (keydown.enter)="filterArray()" 
            placeholder="Campo preciso richiesto"
            type="text"
            [(ngModel)]="textValue"
            name="search" 
            id="search">
            <img src="../../../assets/icons/search.svg" alt="search">
        </div>
    </div>
    <ng-container *ngIf="tickets && tickets.length > 0; else noTickets">
        <div *ngFor="let ticket of tickets" class="col-sm-12">
            <app-ticket [ticket]="ticket"></app-ticket>
        </div>
    </ng-container>
    <ng-template #noTickets>
        <p class="label-no-tickets">Nessun biglietto disponibile</p>
    </ng-template>
</div>