@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.custom-dialog {
    font-family: "Social Gothic", Arial, Helvetica, sans-serif;
    .title {
        margin-top: toRem(16);
        margin-bottom: toRem(32);
        font-family: "Social Gothic", Arial, Helvetica, sans-serif !important;
        font-size: toRem(24);
        line-height: toRem(40);
    }

    .wrapper-btn {
        margin-top: toRem(16);
        margin-bottom: toRem(32);
    }

    .input-field {
        border-radius: 16px;
        padding: toRem(14);
        font-size: toRem(14);
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    .position-field {
        margin-top: toRem(32);
        margin-bottom: toRem(48);
    }

}