@import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/styles/variables.scss';
@import './assets/styles/mixins.scss';
@import './assets/styles/font.scss';
/*
 * APPLIED BY ANGULAR MATERIAL *
*/
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: $color-secondary;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $color-secondary;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $color-secondary;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $color-secondary;
}

.mat-dialog-container {
    height: auto !important;
    overflow-x: hidden !important;
}

.font-spacing {
    letter-spacing: 1px;
}

.wrapper-error {
    width: 80%;
    position: absolute;
    top: 0;
    margin-top: toRem(30);
}

.custom-snackbar {
    background: $color-error;
    color: $color-accent;
    position: absolute;
    top: 20px;
    padding: toRem(24) !important;
    border-radius: 16px !important;
    span {
        font-size: toRem(16);
    }
}

.custom-snackbar-complete {
    @extend .custom-snackbar;
    background: $color-complete;
}

.mat-simple-snackbar-action {
    color: $color-accent;
}

