<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <div class="box-intro">
                <p class="label">BENVENUTO!</p>
                <p class="label">Con quale tipo di profilo desideri collegarti?</p>
            </div>
            <div class="box-role">
                <div (click)="setRole('ADMIN')" class="card-role">
                    <p class="role">ADMIN</p>
                </div>
                <div (click)="setRole('PR')" class="card-role">
                    <p class="role">PR</p>
                </div>
                <div (click)="setRole('RECEPTIONIST')" class="card-role">
                    <p class="role">RECEPTIONIST</p>
                </div>
            </div>
        </div>
    </div>
</div>