@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.filter-bar {
    padding: toRem(16);
    border-bottom: 3px solid $color-disabled;
    font-family: "Social Gothic", Arial, Helvetica, sans-serif;

    .spacing {
        padding: toRem(8);
        letter-spacing: 1px;
    }

    .bg-violet {
        background-color: $color-secondary;
        border-radius: toRem(4);
        font-weight: bold;
    }

    .tab {
        font-size: toRem(12);
        text-align: center;
        margin-bottom: 0;
    }
}