@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.container-fluid {
    font-family: "Social Gothic", Arial, Helvetica, sans-serif;
    padding-top: toRem(24);
    padding-left: 24px;
    .container-edit {
        margin-top: toRem(24);
    
        .title {
            font-size: toRem(32);
            line-height: toRem(48);
            text-transform: uppercase;
            margin-bottom: toRem(80);
        }

        .box-data {
            .label-data {
                text-align: center;
                font-size: toRem(16);
            }

            .spacing {
                margin-top: toRem(32);
                margin-bottom: toRem(32);
            }
            
        }

        .btn-pay {
            margin-top: toRem(80);
            display: inline-flex;
            width: 100%;
            justify-content: center;
        }

        .noTicket {
           font-size: toRem(16);
           line-height: toRem(24);
           text-align: center;
           letter-spacing: 1px;
        }
    }
}