<div class="row w-100 remove-ml">
    <div class="col-sm-12 counter-sticky">
        <ng-container [ngSwitch]="role">
            <div *ngSwitchCase="'ADMIN'" class="row justify-content-around align-items-center">
                <div class="col-2 d-flex justify-content-center">
                    <h2 class="counter remove-fs">Venduti<br> {{totalTickets ? totalTickets : 0}}</h2>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <h2 class="counter remove-fs">Non Venduti {{numNotPaid ? numNotPaid : 0}}</h2>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <h2 class="counter remove-fs">back stage {{numBackStage ? numBackStage : 0}}</h2>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <h2 class="counter remove-fs">pista<br> {{numDanceFloor ? numDanceFloor : 0}}</h2>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <h2 class="counter remove-fs">omaggi<br> {{gift ? gift : 0}}</h2>
                </div>
            </div>
            <h2 *ngSwitchCase="'PR'" class="counter">Totale biglietti venduti: {{totalTickets ? totalTickets : 0}}</h2>
            <h2 *ngSwitchCase="'RECEPTIONIST'" class="counter">Totale biglietti: {{totalTickets ? totalTickets : 0}}</h2>
            <h2 *ngSwitchDefault class="counter">Dato non disponibile</h2>
        </ng-container>
    </div>
</div>