@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/mixins.scss';

.card {
    border-bottom: 1px solid $color-primary;
    padding: toRem(30) toRem(32);
    border: 0px solid hsla(0,0%,100%,.5);
    background: #fff;
    margin: 16px;
    border-radius: 16px;
    box-shadow: 0px 10px 13px -7px $color-primary;
    
    .container-icon  {
        display: inline-flex;
        justify-content: flex-end;
        margin-bottom: toRem(24);
    }

    .label-head {
        font-weight: bold;
        font-size: toRem(14);
    }

    .label-value {
        @extend .label-head;
        font-weight: normal;
        &:nth-child(5) {
            color: $color-complete;
        }
    }
}